h1 {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input[type="email"] {
    margin: 10px;
}

button {
    margin: 10px;
}