<h1>Compte</h1>
<div *ngIf="user" class="container">
    <div>{{user.email}}</div><button nbButton (click)="logOut()">déconnexion</button>
</div>
<div *ngIf="!user" class="container">
    <nb-card>
        <nb-card-body class="example-items-col">
            <form [formGroup]="formGroup">
                <input type="email" nbInput [status]="errorEmail? 'danger' : 'basic'" autocomplete="email" fullWidth
                    placeholder="entrer votre adresse email" formControlName="email">
                <nb-form-field>
                    <input [type]="getInputType()" nbInput autocomplete="current-password"
                        [status]="errorPassword? 'danger' : 'basic'" formControlName="password" placeholder="entrer un mot de passe">
                    <button nbSuffix nbButton ghost (click)="toggleShowPassword()"
                        [status]="errorPassword? 'danger' : 'basic'">
                        <nb-icon [icon]="showPassword ? 'eye-outline' : 'eye-off-2-outline'" pack="eva"
                            [attr.aria-label]="showPassword ? 'hide password' : 'show password'">
                        </nb-icon>
                    </button>
                </nb-form-field>
                <button nbButton type="button" (click)="Submit()">envoyer</button>
                <button nbButton (click)="SignInWithGithub()"><nb-icon icon="github-outline"></nb-icon></button>
            </form>
        </nb-card-body>
    </nb-card>
    <button nbButton status="info" (click)="navigateToSignUp()">s'enregistrer</button>
</div>