<nb-layout>
  <nb-layout-header fixed>
    <div class="navbar" role="navigation">
      <h1>best tuto</h1>
      <nb-select placeholder="Select Showcase" [(selected)]="selectedTheme" (selectedChange)="change(selectedTheme)">
        <nb-option value="default">clair</nb-option>
        <nb-option value="dark">sombre</nb-option>
        <nb-option value="corporate">corporate</nb-option>
        <nb-option value="cosmic">cosmic</nb-option>
      </nb-select>
      <nb-actions size="large" >
        <nb-action icon="home-outline" routerLink=""></nb-action>
        <nb-action icon="file-add-outline" routerLink="new"></nb-action>
        <nb-action icon="person-outline" routerLink="account"></nb-action>
      </nb-actions>
    </div>
  </nb-layout-header>

  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>
</nb-layout>
