h1 {
  display: flex;
  justify-content: center;
}

nb-card {
  width: 60%;

  input {
    width: 40%;
    margin: 10px;
  }
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  margin: 10px;
}