h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  margin: 10px;
}

mat-form-field, form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.control {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

// .controls {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

.tuto {
  display: flex;
  justify-content: space-between;
  align-items: center;
}